<div class="container">
    <div class="row hero">
        <h1>Welcome to Bookspot Help</h1>
        <h4>Here is how to create an effective listing!</h4>
    </div>

    <div class="row">
        <ul="u-full-width">
            <li>Ensure you have no spelling errors in your title or author name, to ensure easy searching</li>
            <li>Use a clear, in focus image, so potential buyers can clearly see the state of the item</li>
            <li>Correctly represent and describe your product</li>
        </ul>
    </div>
</div>
    