<div class="container">
    <div class="row hero">
        <h1>Welcome to Bookspot Help</h1>
        <h4>Links below to help you have your best Bookspot experience!</h4>
    </div>

        <div="u-full-width">
            <%= link_to "Effective Listing Guide", guide_path, class: "button" %>
            <%= link_to "Sitemap", sitemap_path, class: "button" %>
            <%= link_to "App Documentation", "README.pdf" , class: "button" %>
        </div>
</div>