<div class="container">
    <div class="row hero">
        <h1>Welcome to Bookspot Help</h1>
        <h4>Sitemap</h4>
    </div>
    <br>
    <br>
    <div class="one-column">
        <%= image_tag "sitemap.jpg", alt: "Sitemap", height: 370, width: 960 %>
    </div>
</div>